* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #efedd6;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

h1,
h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 24px;
    margin: 20px;
    color: #fcba03;
}

h2 {
    font-size: 18px;
}

.box {
    background-color: #fcba03;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(350%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-350%);
}

.box.show {
    transform: translateX(0);
}